.App {

  background:linear-gradient(106deg, #ffe1bc 30%,
  #ffcffd 50%,
  #f3c6f1 90%);
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
}

.app-glass{
  display: grid;
  height: 96%;
  width: 96%;
  border-radius: 15px;
  background-color: rgba(248, 248, 212, 0.603);
  overflow: hidden;
  margin: auto;
grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}


/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
